@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(105, 105, 105);
}

ul,
ol {
    list-style: none;
}

body {
    font-family: 'NanumSquareRound';
    font-size: 12px;
}

/* header*/
.header {
    margin: 0 auto;
}

/*header_pc*/
@media (min-width:1000px) {
    #header_wrap {
        width: 100%;
    }

    .header {
        height: 4rem;
        padding: 0;
        max-width: 90rem;
        min-width: 62rem;
        position: relative;
    }

    /*menu_logo*/
    .menu_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .logo {
        display: flex;
        float: left;
        height: 100%;
    }

    .logo_mobile {
        display: none;
    }

    /*menu_header_menu*/
    .gnb {
        display: flex;
        justify-content: space-between;
    }

    .gnb>li {
        text-align: center;

    }

    .gnb>li>a {
        padding: 0 2.5rem;
        font-size: 19px;
        display: block;
        font-weight: 700;
    }

    .submenu_wrap {
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100%;
        z-index: 9;
    }

    .submenu {
        width: 1440px;
        margin: 0 auto;
        background-color: rgb(80, 80, 80);
    }

    .submenu li {
        display: inline-flex;
    }

    .submenu li a {
        padding: 15px 20px;
        color: rgb(255, 255, 255);
        font-weight: ;
    }

    .submenu li a:hover {
        border-bottom: 5px solid pink;
    }

    /*menu_header_util*/
    .util {
        float: right;
    }

    .util li {
        float: left;
    }

    .util li a {
        padding: 0 0.5rem;
        display: block;
    }

    .util .login {
        padding: 3px 5px 0 0;
    }

    #header_lang {
        border: none;
    }

    .navbar_toggleBtn {
        display: none;
        position: absolute;
        right: 32px;
        font-size: 24px;
    }

    /*popup_find*/
    #popup_find {
        position: absolute;
        top: 74px;
        right: 0px;
        background-color: rgba(114, 114, 114, 0.767);
        border: 2px solid rgba(85, 85, 85, 0.185);
        text-align: center;
        width: 1440px;
        height: 150px;
        z-index: 999;
    }

    /*닫기버튼*/
    .close {
        text-align: right;
    }

    button {
        background-color: #fff;
        border: 0;
    }

    .popup_close {
        width: 2rem;
        height: 2rem;
        background: url(../images/01_index/1_header/find_close.png) no-repeat 50% 50%;
    }

    /*검색어를 입력하세요*/
    input[type="text"] {
        width: 500px;
        padding: 10px;
        display: inline-block;
        border: 3px solid rgb(147, 190, 147);
        border-radius: 10px;
        font-size: 16px;
    }

    input::placeholder {
        font-size: 17px;
    }

    /*확인버튼*/
    input[type="submit"] {
        background-color: #fff1fb;
        color: rgb(17, 17, 17);
        width: 80px;
        border-radius: 0.5rem;
        border: none;
        padding: 8px 0;
        margin-left: 10px;
        font-size: 16px;
    }

    .navbar_toggleBtn {
        display: none;
    }
}

/*header_tablet+mobile*/
@media (max-width:999px) {
    .header_menu {
        width: 100%;
    }

    .menu_wrap {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*menu_logo*/
    .logo {
        display: none;
    }

    .logo_mobile {
        display: block;
        padding-top: 10px;
        padding-right: 0px;
    }

    /*menu_header_menu*/
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        list-style: none;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
        background-color: #fff6fe;
    }

    .navbar_menu li a {
        font-weight: 600;
        font-size: 1rem;
        display: block;
        padding: 20px 0;
    }

    .navbar_menu li a:hover {
        background-color: #ffd2f9;
        color: #fff;
    }

    .submenu {
        display: none;
    }

    /*menu_header_util*/

    .login,
    .util_find {
        display: none;
    }

    #header_lang {
        display: none;
    }

    .navbar_toggleBtn {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .navbar_menu.active {
        display: flex;
    }
}
/*header 끝*/


/*container*/
#container {
    width: 1440px;
    margin: 100px auto;
    overflow: hidden;
}

.lnb_wrap {
    width: 250px;
    float: left;
}

.lnb_wrap h2 {
    padding: 20px 0;
    border-top: rgb(189, 224, 189) 4px solid;
    font-size: 1.5rem;
    text-align: center;
}

.lnb li a {
    display: block;
    padding: 15px 0;
    border-top: 2px solid #ccc;
    padding-left: 20px;
}

.lnb li a:hover {
    background-color: rgb(189, 224, 189);
    color: #fff;
}

.contents {
    width: 1100px;
    overflow: hidden;
    float: right;
}

.contents h3 {
    font-size: 1rem;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
    margin-top: 80px;
}

.info_img {
    padding-top: 50px;
}

.info_m_img {
    display: none;
}

.info_text {
    width: 100%;
    padding-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info_text li {
    border: 1px solid #ccc;
    text-align: center;
    width: 259px;
    height: 311px;
    padding: 55px 20px;
    box-sizing: border-box;
}

.info_title {
    padding-bottom: 20px;
    font-size: 1rem;
    font-weight: 900;
}

.info_text img {
    padding-bottom: 20px;
}

.info_detail_1 {
    padding-bottom: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}

.info_detail_2 {
    font-size: 0.7rem;
    color: rgb(133, 131, 131);
}

/*pc*/
@media (min-width:1001px) and (max-width:1439px) {
    #container {
        width: 100%;
    }

    .lnb_wrap {
        width: 15%;
        float: left;
    }

    .contents {
        width: 80%;
        overflow: hidden;
        float: right;
    }

    .contents h3 {
        width: 95%;
    }

    #info {
        width: 95%;
    }

    .info_pc_img {
        width: 100%;
    }

    .info_text {
        padding-top: 50px;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

}

/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #container {
        width: 100%;
    }

    .lnb_wrap {
        width: 18%;
    }

    .contents {
        width: 75%;
    }

    .contents h3 {
        width: 95%;
    }

    .info_pc_img {
        width: 95%;
    }

    .info_text {
        width: 95%;
    }

    .info_text li {
        margin-bottom: 20px;
    }
}

/*mobile*/
@media (max-width:699px) {

    /*container*/
    #container {
        width: 100%;

    }

    .lnb_wrap {
        display: none;
    }

    .contents {
        width: 95%;
        overflow: hidden;
        float: right;
    }

    .contents h3 {
        font-size: 1rem;
        padding: 20px 0;
        border-bottom: none;
    }

    .info_m_img {
        display: block;
        width: 95%;
    }

    .info_pc_img {
        display: none;
    }

    .info_text li {
        margin-bottom: 20px;
    }

/*care*/
}
#care {
    border: 1px solid #ddd;
    margin-top: 50px;
    padding: 45px;
    width: 1094px;
    height: 975px;
    box-sizing: border-box;
}
#care ul {
    flex-direction: column;
    justify-content: space-between;
}

#care ul li {
    display: flex;
}

#care li img {
    padding-right: 30px;
    padding-top: 40px;
}

#care li p {
    padding-top: 74px;
    font-size: 1.6rem;
}

/*pc*/
@media (min-width:1001px) and (max-width:1439px) {
    #care {
        width: 95%;
    }
}

/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #care {
        width: 95%;
        height: 560px;
    }
    #care li img {
        width: 10%;
        height: 10%;
        padding-right: 30px;
        padding-top: 20px;
    }
    #care li p {
        padding-top: 40px;
        font-size: 0.7rem;
    }
}

/*mobile*/
@media (max-width:699px) {
    #care {
        margin-top: 0px;
        padding: 20px;
        width: 95%;
        height: 560px;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    #care li img {
        width: 20%;
        height: 20%;
        padding-right: 30px;
        padding-top: 20px;
    }
    #care li p {
        padding-top: 40px;
        font-size: 0.7rem;
    }
}

/*map*/
#map{
    width: 1140px;
    margin-top: 50px;
}
#map iframe{
    width: 100%;
    height: 450px;
}
.map_text{
    padding-top: 20px;
    width: 1140px;
}
.map_text p{
    padding-top: 15px;
    font-size: 1rem;
}
.map_text strong{
    font-size: 1rem;
    color: rgb(66, 150, 101);
}
.bus{
   color: rgb(231, 121, 198);
   font-weight: 800;
}
/*pc*/
@media (min-width:1001px) and (max-width:1439px) {
    #map{
        width: 100%;

    }
    .map_text{
        width: 100%;
    } 
    
}

/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #map{
        width: 95%;
    } 
    #map iframe{
        width: 100%;
        height: 450px;
    }
    .map_text{
        width: 95%;
    }
}

/*mobile*/
@media (max-width:699px) {
    #map {
        width: 95%;
    }
    .map_text{
        width: 95%;
    }
    #map iframe{
        width: 100%;
        height: 250px;
    }  
}

/*introduce*/
.intro_text{
    padding-top: 20px;
    width: 1140px;
}
.intro_text p{
    padding-top: 15px;
    font-size: 1rem;
}
.intro_text strong{
    font-size: 1rem;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
/*pc*/
@media (min-width:1001px) and (max-width:1439px) {
    #map{
        width: 100%;
    }
    .intro_text{
        width: 100%;
    } 
}

/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    .intro_text{
        width: 95%;
    }
}

/*mobile*/
@media (max-width:699px) {
    .intro_text{
        width: 95%;
    }
}


/*footer*/
#footer_wrap {
    margin-top: 150px;
    height: 152px;
    background: linear-gradient(rgb(255, 235, 251), rgb(223, 255, 233));
}

.footer {
    width: 1440px;
    margin: 0px auto;
}

.footer_logo {
    margin-top: 60px;
    float: left;
    padding-right: 150px;
}

.footer_info {
    float: left;
    padding-right: 30px;
    margin-top: 70px;
}

.footer_info a {
    padding-right: 10px;
}

.footer_info strong {
    margin-left: 30px;
    color: rgb(133, 133, 133);
}

.sns {
    float: right;
}

.sns li {
    float: left;
    padding-left: 20px;
    margin-top: 70px;
}

.sns_youtube a img {
    margin-top: 3.5px;
}

.footer_box {
    text-align: center;
}

/*pc*/
@media (min-width:1001px) and (max-width:1439px) {
    .footer {
        width: 100%;
    }
}

/*tablet*/
@media (min-width:700px) and (max-width:999px) {
    #footer_wrap {
        margin-top: 0px;
        height: 152px;
        background: linear-gradient(rgb(255, 235, 251), rgb(223, 255, 233));
    }

    .footer {
        width: 80%;
        margin: 0px auto;
    }

    .footer_logo {
        width: 10%;
    }
}

/*mobile*/
@media (max-width:699px) {
    #footer_wrap {
        height: 200px;
    }

    .footer {
        width: 90%;
        margin: 0px auto;
    }

    .footer_logo {
        margin-top: 25px;
        float: none;
        padding-right: 0px;
    }

    .footer_info {
        float: left;
        padding-right: 0px;
        margin-top: 30px;
    }

    .footer_info a {
        display: none;
    }

    .footer_info strong {
        margin-left: 10px;
        color: rgb(133, 133, 133);
        font-size: 1rem;
    }

}